langchain
langchain-groq
langchain-community
langchain-google-genai
faiss-cpu
pypdf
python-dotenv
langsmith
langchain
langchain-core
langchain-community
langchain-text-splitters

langchain-huggingface
sentence-transformers
transformers
torch

faiss-cpu

langgraph

pydantic
python-dotenv
typing-extensions